<ion-card class="ion-padding">
  <ion-card-content>
    <ion-text color="secondary">
      <p>
        Hi, I'm Jocimar Lopes from Brazil, I love technology and development area, 
        "Less is more" and the design is very important,
        every details matters.
        I develop hybrids Apps with Ionic/ReactNative frameworks and backend I prefer coding with Python.
        <br>
        <br>
        I live in south of Brazil and started my journey in technology with 12 years old, 
        starting with computer's maintenance and at 2014 starting with codes and development.
      </p>
    </ion-text>
  </ion-card-content>
</ion-card>