<ion-card>
  <ion-card-content>
    <div class="social-container">
      <ion-icon class="languages-icon" color="primary" name="logo-javascript"></ion-icon>
      <ion-icon class="languages-icon" color="primary" name="logo-python"></ion-icon>
      <ion-icon class="languages-icon" color="primary" name="logo-tux"></ion-icon>
      <ion-icon class="languages-icon" color="primary" name="logo-google"></ion-icon>
      <ion-icon class="languages-icon" color="primary" name="logo-amazon"></ion-icon>
    </div>
    <ion-row>
      <ion-col class="ion-text-center" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <a href="mailto:lopes.jocimar@gmail.com">
          <ion-chip color="transparent">
            <ion-icon color="primary" name="mail"></ion-icon>
            <ion-label color="secondary">lopes.jocimar@gmail.com</ion-label>
          </ion-chip>
        </a>
        <br>
        <a href="tel:+5551996919023">
          <ion-chip color="transparent">
            <ion-icon color="primary" name="phone-portrait"></ion-icon>
            <ion-label color="secondary">+55 51 996919023</ion-label>
          </ion-chip>
        </a>
        <br>
          <ion-chip color="transparent">
            <ion-icon color="primary" name="location"></ion-icon>
            <ion-label color="secondary">Brazil</ion-label>
          </ion-chip>
      </ion-col>
    </ion-row>
    <div class="social-container">
      <ion-fab-button href="https://linkedin.com/in/jocimarlopes" color="primary" size="small">
        <ion-icon color="dark" name="logo-linkedin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://fb.me/jocimarlopes" color="primary" size="small">
        <ion-icon color="dark" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://api.whatsapp.com/send?phone=5551996919023" color="primary" size="small">
        <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://instagram.com/jocimarlopes" color="primary" size="small">
        <ion-icon color="dark" name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="http://github.com/jocimarlopes" color="primary" size="small">
        <ion-icon color="dark" name="logo-github"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-card-content>
</ion-card>