<div>
  <br><br>
  <ion-text color="primary">
    <h1>
      <ion-icon size="large" name="rocket"></ion-icon>
      INTERESTS
    </h1>
  </ion-text>
  <ion-card>
    <ion-row>
      <ion-col class="ion-padding bg-dark" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-text color="secondary">
          <p>I love programming listening music all of genres.
            <br>
            My love is my son and I pass all time I can with him and talking about technology.
            <br>
            I never refuse a cup of coffee in the morning and all the day too, I want to travel with my son to another countries and work from anywhere in the world.
            <br>
          </p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding bg-primary" size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3">
        <ion-icon size="large" color="dark" name="musical-notes"></ion-icon>
      </ion-col>
      <ion-col class="ion-padding bg-dark" size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3">
        <ion-icon size="large" color="primary" name="code-slash"></ion-icon>
      </ion-col>
      <ion-col class="ion-padding bg-primary" size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3">
        <ion-icon size="large" color="dark" name="cafe"></ion-icon>
      </ion-col>
      <ion-col class="ion-padding bg-dark" size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3">
        <ion-icon size="large" color="primary" name="people"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

</div>