<div>
  <br><br>
  <ion-text color="primary">
    <h1>
      <ion-icon size="large" name="logo-android"></ion-icon>
      APPS/PLAY STORE
    </h1>
  </ion-text>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" *ngFor="let item of apps">
          <a target="_blank" href="{{item.url}}">
            <ion-card class="card-app">
              <img class="app" src="assets/apps/{{item.image}}">
              <ion-card-content>
                <ion-text>
                  <h1>{{item.name}}</h1>
                </ion-text>
                <ion-text color="secondary">
                  <h5>{{item.description}}</h5>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>