<div>
  <br><br>
  <ion-text color="primary">
    <h1>
      <ion-icon size="large" name="school"></ion-icon>
      EDUCATION
    </h1>
  </ion-text>


  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="5" size-xl="5">
      <!-- left -->
      <ion-card class="ion-padding card">
        <ion-card-header>
          <ion-card-title color="primary">High School</ion-card-title>
          <ion-card-subtitle color="primary">FEB/2010 - MAR/2013</ion-card-subtitle>
          <ion-card-subtitle color="primary">Prudente de Morais</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content color="light">
          I completed my high school education at this amazing Institution. A great experience of life takes place at that time, it was incredible in every situation.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col *ngIf="width > 500" size-xs="0" size-sm="0" size-md="0" size-lg="2" size-xl="2">
      <div class="line">
        <div class="ball"></div>
      </div>
    </ion-col>
    <ion-col *ngIf="width > 500" size-xs="0" size-sm="0" size-md="0" size-lg="5" size-xl="5">
      <!-- right -->
    </ion-col>

    <ion-col *ngIf="width > 500" size-xs="0" size-sm="0" size-md="0" size-lg="5" size-xl="5">
      <!-- left -->
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin" *ngIf="width > 500" size-xs="0" size-sm="0" size-md="0" size-lg="2" size-xl="2">
      <div class="line">
        <div class="ball"></div>
      </div>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="5" size-xl="5">
      <!-- right -->
      <ion-card class="ion-padding card">
        <ion-card-header>
          <ion-card-title color="primary">College</ion-card-title>
          <ion-card-subtitle color="primary">FEB/2017 - DEC/2017</ion-card-subtitle>
          <ion-card-subtitle color="primary">IT - CNEC University</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content color="light">
          I started the Computer course in this incredible Institution, but I didn't complete it, I wouldn't get much knowledge beyond what I already had at the time.
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="5" size-xl="5">
      <!-- left -->
      <ion-card class="ion-padding card">
        <ion-card-header>
          <ion-card-title color="primary">Software Engineer</ion-card-title>
          <ion-card-subtitle color="primary">JAN/2019 - Actually</ion-card-subtitle>
          <ion-card-subtitle color="primary">Unicesumar University</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content color="light">
          I started an incredible course at this prestigious institution. I studied until then, but for reasons of needs it was necessary to reduce the number of credits, thus increasing the time to complete the course.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col *ngIf="width > 500" size-xs="0" size-sm="0" size-md="0" size-lg="2" size-xl="2">
      <div class="line-end">
        <div class="ball"></div>
      </div>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="5" size-xl="5">
      <!-- right -->
    </ion-col>
  </ion-row>


</div>